<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <div class="container">
            <div id="app">Loading...</div>
        </div>
    <% if(process.env.NODE_ENV === 'production') { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js"></script>
    <% } else { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.development.js"></script>
    <% } %>
</body>
</html>